---
layout: default
---



<div class="home">
	
{% include image.html url="/academic/images/profile.jpg" caption="Me" width=200 align="right" %}
<h1>Welcome</h1>
<h2>Bio</h2>
<p> I am currently a Masters of Science in Computer Vision student at the Robotics Institute at Carnegie Mellon University. I perform research in computer vision and am focused on research that has large practical impact and that opens up new avenues of research. I am also the founder and president of <a href="https://www.cmuvision.com">The Computer Vision Club @ CMU</a>, the first computer vision club in USA. Prior to joining CMU, I did a dual Computer Science and Mathematics degree at The University of Texas at Austin. I also started a company TexteDB where I created an in-memory database for text analytics.</p>
<br>
<hr>
<br>

<h2>Publications</h2>
      <strong> N2N Learning: Network to Network Compression via Policy Gradient Reinforcement Learning </strong><br>
      {% include image.html url="/academic/images/N2N.png" caption="Overview of N2N Reinforcement Learning pipeline" width=400 %}
      Anubhav Ashok, Nicholas Rhinehart, Fares Beainy, Kris Kitani<br>
      Currently under review for ICLR 2018 <br>
      <a href="https://arxiv.org/abs/1709.06030">ArXiV preprint</a>
      <br><br><br>
      <strong> Spatiotemporal Attention Maps for Action Recognition</strong><br>
      Submitting to ECCV 2018<br>
      Coming soon!
      <br><br><br>

<h2>Research Projects</h2>

    <strong> Scene2Synth: Inserting synthetic objects into a dynamic scenes using lightfield videos</strong><br>
    We develop a system that allows the user to photorealistically insert a synthetic object into a lightfield video, where the synthetic object can interact with the moving objects in the video realistically
    {% include image.html url="/academic/images/synth.png" caption="The sphere on the right is a fake object while the real painter is reconstructed from the original video" width=400 %}
    <a href="/academic/research/scene2synth.pdf">Poster</a> <br>
    <a href="/academic/research/scene2synth.mp4">Video</a>
    <br><br><br>
    
    <strong> Knowledge Factorization </strong><br>
    We explore several techniques to perform "Knowledge Factorization" where we transfer knowledge from a larger model pretrained on a larger, more diverse dataset to a smaller model for a smaller more specific task in an unsupervised manner.
    {% include image.html url="/academic/images/knowledgefactorization.png" caption="Task of Knowledge Factorization" width=300 %}
    <a href="/academic/research/knowledgefactorization.pdf">Report</a>
    <br><br><br>
    
    <strong> Perpetual Generative Adversarial Fooling of Neural Networks</strong><br>
    An approach to using GANs to generate infinitely many, visually dissimilar samples to fool neural networks perpetually
    {% include image.html url="/academic/images/fooling.png" caption="We generate both images of dogs and its corresponding perturbation using GANs" width=300 %}
    <a href="https://drive.google.com/file/d/0B6xOSdg7v90ZQllMZERaUk9SSlU/view">Report</a>
    <br><br><br>

    <strong> Better Stochastic Gradient Descent </strong> <br>
    Created a novel variant of stochastic gradient descent that consistently outperformed all current gradient descent variants (SGD, Adam, RMSProp, AdaGrad etc.) tested on the MNIST and CIFAR-10 datasets
    {% include image.html url="/academic/images/bettersgd.png" caption="Convergence of our method compared to others" width=300 %}
    <a href="/academic/research/bettersgd.pdf">Report</a>
    <br><br><br>
    
    <strong> Improving Video Segmentation Using Region Proposals and FCNs </strong><br>
    Introduced a novel approach to video segmentation inspired by two modern segmentation approaches
    {% include image.html url="/academic/images/video_segmentation.png" caption="The images of the left are the baselines using a single approach, while the right image shows the result of our combined approach" width=300 %}
    <a href="https://drive.google.com/file/d/0B6xOSdg7v90ZTW1HekxPeHFWckU/view">Poster</a><br>
    <a href='/academic/research/orig.mp4'>Original video</a><br>
    <a href='/academic/research/fcn.mp4'>Semantic Segmentation</a><br>
    <a href='/academic/research/deepmask.mp4'>Object Proposals</a><br>
    <a href='/academic/research/ours.mp4'>Our approach</a>
    <br><br><br>

    <strong> Spaghetti sauce generation using Machine Learning</strong><br>
    This project was done under the Freshman Research Initiative at UT Austin.<br>
    For this project, I created a program to generate novel spaghetti sauces based on a database of sauces containing various flavor information. The final sauce produced by the program was prepared and presented to the class during the final presentation.
   {% include image.html url="/academic/images/spaghetti.jpg" caption="A picture of what the spaghetti sauce might have looked like" width=500 %}  

    <strong> Scalable drug categorization </strong> <br>
    Implemented a scalable, parallelized clustering algorithm to cluster drugs by their effects on cells. Won Bronze Prize in HPCQuest 2011.
    {% include image.html url="/academic/images/hpcquest.jpg" caption="Dorky image of me holding the award" width=500 %}<br>
    <a href="/academic/research/hpcquest.jpg">Presentation</a>
    <br><br><br>
</div>

