---
layout: default
---



<div class="home">
	
{% include image.html url="/academic/images/profile.jpg" caption="Me" width=200 align="right" %}
<h1>Welcome</h1>
<h2>Bio</h2>
<p> I am currently a Masters of Science in Computer Vision student at the Robotics Institute at Carnegie Mellon University.</p>
<br>
<hr>
<br>

<h2>Publications</h2>
      <strong> N2N Learning: Network to Network Compression via Policy Gradient Reinforcement Learning </strong><br>
      {% include image.html url="/academic/images/N2N.png" caption="" width=200 align="center" %}
      Anubhav Ashok, Nicholas Rhinehart, Fares Beainy, Kris Kitani<br>
      <a href="https://arxiv.org/abs/1709.06030">ArXiV preprint</a>
      <br><br><br>

<h2>Projects</h2>

</div>

